@model IEnumerable<BigSolutionsWeb.Entidades.Orden>
@using BigSolutionsWeb.Enums;

@{
    ViewData["Title"] = "Órdenes";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container-fluid" style="margin-top: 50px;">
    <div class="text-center mb-4">
        <h1>Órdenes</h1>
        <p>Aquí puedes ver todas las órdenes de tus clientes.</p>
    </div>

    <div class="card">
        <div class="card-header d-flex justify-content-between align-items-center">
            <h3 class="mb-0">Órdenes</h3>
            <a href="@(Url.Action("CrearOrdenClienteAdmin", "Ordenes"))" class="botones-secundarios">Generar Nueva Orden</a>
        </div>
        <div class="card-body" style="padding-left: 15px; padding-right: 15px;">
            @if (ViewBag.MsjPantalla != null)
            {
                <div id="warningAlert" class="alert alert-warning" role="alert" style="text-align: center;">
                    @ViewBag.MsjPantalla
                </div>
            }
            else
            {
                <table id="tabla-Ordenes" class="table table-hover">
                    <thead>
                        <tr>
                            <th style="text-align:left">Número de Orden</th>
                            <th style="text-align:left">Descripción de la Orden</th>
                            <th style="text-align:left">Cliente</th>
                            <th style="text-align:left">Estado de la Orden</th>
                            <th style="text-align:left">Método de Pago</th>
                            <th style="text-align:left">Orden de Compra</th>
                            <th style="text-align:left">Fecha Creación</th>
                            <th style="text-align:left">Acciones</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var orden in Model)
                        {
                            <tr>
                                <td style="text-align:left">@orden.IdOrden</td>
                                <td style="text-align:left">@orden.Descripcion</td>
                                <td style="text-align:left">@orden.NombreUsuario</td>
                                <td style="text-align:left">@orden.Estado.GetDisplayName()</td>
                                <td style="text-align:left">@orden.MetodoPago.GetDisplayName()</td>
                                <td style="text-align:left">
                                    @if (!string.IsNullOrEmpty(orden.RutaOrdenCompra))
                                    {
                                        <a href="@orden.RutaOrdenCompra" style="color: black; text-decoration: underline; cursor: pointer;" target="_blank">Orden de Compra</a>
                                    }
                                    else
                                    {
                                        <span>No disponible</span>
                                    }
                                </td>
                                <td style="text-align:left">@orden.FechaCreacion.ToString("dd/MM/yyyy")</td>
                                <td style="text-align:left">
                                    <a href="@(Url.Action("ConsultarOrdenClienteAdmin", "Ordenes", new { IdOrden = orden.IdOrden }))" class="botones">Ver más detalles</a>
                                    <a href="@(Url.Action("EditarOrdenClienteAdmin", "Ordenes", new { IdOrden = orden.IdOrden }))" class="botones-editar"><i class="fas fa-pencil-alt"></i>&nbsp;Editar</a>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            }
        </div>
    </div>
</div>

<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script>
    $(document).ready(function () {
        var table = $('#tabla-Ordenes').DataTable({
            language: {
                url: '//cdn.datatables.net/plug-ins/2.0.2/i18n/es-ES.json'
            },
            order: [[0, 'desc']]
        });
    });
</script>
