@{
    ViewData["Title"] = "Editar Orden";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="container-fluid" style="margin-top: 50px;">
    <div class="text-center mb-4">
        <h1>Editar Orden</h1>
        <p>Aquí puedes ver los detalles completos de esta orden y agregar nuevos comprobantes de pago.</p>
    </div>
    <div class="card mb-4">
        <div class="card-header">
            <h3>Formulario para editar una orden</h3>
        </div>
        <div class="card-body">
            <form method="post" enctype="multipart/form-data">
                <div class="row justify-content-center">
                    <div class="col-md-4">
                        <div class="form-group">
                            <label for="descripcionOrden">Descripción de la Orden</label>
                            <textarea id="descripcionOrden" name="descripcionOrden" class="form-control" rows="3" placeholder="Descripción de la orden" readonly>@ViewBag.DescripcionOrden</textarea>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="form-group">
                            <label for="ordenCompra">Orden de Compra</label>
                            <p><a href="~/page/archivos/pdf-prueba.pdf" target="_blank">Ver Orden de Compra</a></p>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="form-group">
                            <label for="metodoPago">Método de Pago</label>
                            <select id="metodoPago" name="metodoPago" class="form-control" disabled>
                                <option value="contado" selected>Pago anticipado</option>
                                <option value="credito">Crédito</option>
                                <option value="50y50">Parcical 50 50</option>
                            </select>
                        </div>
                    </div>
                </div>

                <div class="card mb-4">
                    <div class="card-header">
                        <h3>Comprobantes de Pago Existentes</h3>
                    </div>
                    <div class="card-body">
                        <table id="tabla-Comprobantes" class="table table-hover">
                            <thead>
                                <tr>
                                    <th style="text-align:left">Archivo</th>
                                    <th style="text-align:left">Descripción</th>
                                    <th style="text-align:left">Fecha Añadida</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td style="text-align:left">
                                        <a href="~/page/archivos/pdf-prueba.pdf" target="_blank">Ver Archivo</a>
                                    </td>
                                    <td style="text-align:left">Pago parcial de la orden</td>
                                    <td style="text-align:left">@DateTime.Now</td>
                                </tr>
                                <tr>
                                    <td style="text-align:left">
                                        <a href="~/page/archivos/pdf-prueba.pdf" target="_blank">Ver Archivo</a>
                                    </td>
                                    <td style="text-align:left">Pago final de la orden</td>
                                    <td style="text-align:left">@DateTime.Now</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>

                <div class="form-group">
                    <label for="comprobantePago">Agregar Nuevo Comprobante de Pago</label>
                    <input type="file" id="comprobantePago" name="comprobantePago" class="form-control-file">
                    <small class="form-text text-muted">Este campo no es necesario si su método de pago no se ajusta.</small>
                </div>
                <div class="form-group">
                    <label for="descripcionComprobante">Descripción del Comprobante</label>
                    <textarea id="descripcionComprobante" name="descripcionComprobante" class="form-control" rows="2" placeholder="Descripción del comprobante"></textarea>
                </div>

                <div class="form-group">
                    <label for="cotizacion">Seleccionar Cotización</label>
                    <table id="tabla-Cotizaciones" class="table table-hover">
                        <thead>
                            <tr>
                                <th style="text-align:left">Seleccionar</th>
                                <th style="text-align:left">Número de Cotización</th>
                                <th style="text-align:left">Descripción de la Cotización</th>
                                <th style="text-align:left">Fecha de Generación</th>
                                <th style="text-align:left">Acciones</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td style="text-align:left">
                                    <input type="radio" name="seleccionarCotizacion" value="11111" disabled checked>
                                </td>
                                <td style="text-align:left">11111</td>
                                <td style="text-align:left">Descripción de la Cotización 1</td>
                                <td style="text-align:left">@DateTime.Now</td>
                                <td style="text-align:left">
                                    <a href="~/page/archivos/pdf-prueba.pdf" target="_blank" class="botones">Ver Cotización</a>
                                </td>
                            </tr>
                            <tr>
                                <td style="text-align:left">
                                    <input type="radio" name="seleccionarCotizacion" value="11112" disabled>
                                </td>
                                <td style="text-align:left">11112</td>
                                <td style="text-align:left">Descripción de la Cotización 2</td>
                                <td style="text-align:left">@DateTime.Now</td>
                                <td style="text-align:left">
                                    <a href="~/page/archivos/pdf-prueba.pdf" target="_blank" class="botones">Ver Cotización</a>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <button type="submit" class="botones-secundarios">Editar Orden</button>
            </form>
        </div>
    </div>
</div>

<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script>
    $(document).ready(function () {
        $('#tabla-Cotizaciones, #tabla-Comprobantes').DataTable({
            language: {
                url: '//cdn.datatables.net/plug-ins/2.0.2/i18n/es-ES.json'
            }
        });
    });
</script>
