@model BigSolutionsWeb.Entidades.Usuario
@{
    ViewData["Title"] = "Configuración de Perfil";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@Html.HiddenFor(m => m.UsuarioId)
@Html.HiddenFor(m => m.IdRol)

<link href="~/css/hojaestilos.css" rel="stylesheet" />

<div class="container">
    <div class="row justify-content-center">
        <div class="col-lg-8">
            <div class="card shadow-lg border-0 rounded-lg mt-5">
                <div class="card-header text-center">
                    <h3 class="font-weight-extra-bold my-4">Configura tu perfil:</h3>
                </div>
                <div class="card-body">
                    <!-- Contenedor de Alertas -->
                    <div id="alert-container" class="mb-3">
                        <!-- Las alertas se mostrarán aquí -->
                    </div>
                    @if (ViewBag.msj != null)
                    {
                        <div id="warningAlert" class="alert alert-warning alert-custom" role="alert" style="text-align: center;">
                            @ViewBag.msj
                        </div>
                    }
                    @* @using (Html.BeginForm("ConfiguraciondePerfil", "Usuario")) *@
                    @using (Html.BeginForm("ConfiguraciondePerfil", "Usuario", FormMethod.Post, new { id = "perfilForm" }))
                    {
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label class="form-control-label" for="fullName">Nombre Completo</label>
                                    @Html.TextBoxFor(m => m.NombreCompleto, new { @class = "form-control", @placeholder = "Nombre", @required = "required" })
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label class="form-control-label" for="cedula">Cédula</label>
                                    @Html.TextBoxFor(m => m.Identificacion, new { @class = "form-control", @placeholder = "Identificación", @required = "required" })
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label class="form-control-label" for="phoneNumber">Número de Teléfono</label>
                                    @Html.TextBoxFor(m => m.NumeroTelefono, new { @class = "form-control", @placeholder = "Telefono", @required = "required", Type = "int" })
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label class="form-control-label" for="address">Dirección Exacta</label>
                                    @Html.TextAreaFor(m => m.DireccionExacta, new { @class = "form-control", @placeholder = "Dirección", @required = "required" })
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label class="form-control-label" for="email">Dirección de Correo Electrónico</label>
                                    @Html.TextBoxFor(m => m.CorreoElectronico, new { @class = "form-control", @placeholder = "Correo", @required = "required" })
                                </div>
                            </div>

                            <div class="col-md-6">
                                <div class="form-group">
                                    <label class="form-control-label" for="city">Rol</label>
                                    @Html.TextBoxFor(m => m.NombreRol, new { @class = "form-control", @placeholder = "Rol", @required = "required", @readonly = "readonly" })
                                </div>
                            </div>
                        </div>
                        <div class="d-flex  justify-content-between mt-4">
                            @* <button type="submit" class="botones" onclick="submitForm()">Guardar Cambios</button> *@
                            <button type="button" class="botones" onclick="submitForm()">Guardar Cambios</button>
                            <a class="botones-eliminar btn-EliminarPerfilUsuario"
                               href="@(Url.Action("EliminarPerfilUsuario", "Usuario", new { UsuarioId = Model.UsuarioId }))">
                                Eliminar Perfil
                            </a>
                        </div>
                    }
                </div>
            </div>
        </div>
    </div>
</div>
<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script src="~/js/sweetalert.js"></script>
