<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>BigSolutions</title>
    <link rel="stylesheet" href="~/page/vendors/feather/feather.css">
    <link rel="stylesheet" href="~/page/vendors/ti-icons/css/themify-icons.css">
    <link rel="stylesheet" href="~/page/vendors/css/vendor.bundle.base.css">
    <link rel="stylesheet" href="~/page/vendors/ti-icons/css/themify-icons.css">
    <link rel="stylesheet" href="~/page/css/vertical-layout-light/style.css">
    <link rel="shortcut icon" href="~/page/images/bigsolutions-logo.jpg" />
    <link rel="stylesheet" href="https://cdn.datatables.net/2.0.8/css/dataTables.bootstrap5.css">
    <link rel="stylesheet" href="~/page/images/imagenbotella.jpeg">
    <link href="~/css/hojaestilos.css" rel="stylesheet" />

    <link href="https://cdn.jsdelivr.net/npm/sweetalert2@11/dist/sweetalert2.min.css" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css">

</head>

<body>
    <div class="container-scroller">

        <!-- navbar -->
        <nav class="navbar col-lg-12 col-12 p-0 fixed-top d-flex flex-row">
            <div class="text-center navbar-brand-wrapper d-flex align-items-center justify-content-center">
                <a class="navbar-brand brand-logo mr-5" href="@Url.Action("Index", "Home")"><img src="~/page/images/bigsolutions-logo.jpg" class="mr-2" alt="logo" /></a>
                <a class="navbar-brand brand-logo-mini" href="@Url.Action("Index", "Home")"><img src="~/page/images/bigsolutions-logo.jpg" alt="logo" /></a>
            </div>
            <div class="navbar-menu-wrapper d-flex align-items-center justify-content-end">
                <button class="navbar-toggler navbar-toggler align-self-center" type="button" data-toggle="minimize">
                    <span class="icon-menu"></span>
                </button>

                <ul class="navbar-nav navbar-nav-right">
                    <li class="nav-item nav-profile dropdown">
                        <a class="nav-link dropdown-toggle" href="#" data-toggle="dropdown" id="profileDropdown">
                            <img src="~/page/images/faces/fotoperfil.png" alt="profile" />
                        </a>
                        <div class="dropdown-menu dropdown-menu-right navbar-dropdown" aria-labelledby="profileDropdown">
                            <a class="dropdown-item" href="@Url.Action("ConfiguraciondePerfil", "Usuario")">
                                <i class="fa-solid fa-person"></i>
                                Perfil
                            </a>
                            <a class="dropdown-item btn-cerrarSesion" href="javascript:void(0);" data-url="@Url.Action("Salir", "Usuario")">
                                <i class="fa-solid fa-arrow-right-from-bracket"></i>
                                Cerrar Sesión
                            </a>
                        </div>
                    </li>
                </ul>
                <button class="navbar-toggler navbar-toggler-right d-lg-none align-self-center" type="button" data-toggle="offcanvas">
                    <span class="icon-menu"></span>
                </button>
            </div>
        </nav>
        <div class="container-fluid page-body-wrapper">
            <!-- side navbar -->
            <nav class="sidebar sidebar-offcanvas" id="sidebar" style="margin-top: 50px;">
                <ul class="nav">
                    <li class="nav-item">
                        <span class="menu-title" style="margin-left: 15px;"><b>Cliente</b></span>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link" data-toggle="collapse" href="#bocetoscliente" aria-expanded="false" aria-controls="bocetoscliente">
                            <i class="fa-regular fa-images menu-icon"></i>
                            <span class="menu-title">Bocetos</span>
                            <i class="menu-arrow"></i>
                        </a>
                        <div class="collapse" id="bocetoscliente">
                            <ul class="nav flex-column sub-menu">
                                <li class="nav-item"> <a class="nav-link text-wrap" style="width: 150px;" href="@Url.Action("ConsultarProductosBoceto", "Boceto")">Generar boceto</a></li>
                                <li class="nav-item"> <a class="nav-link text-wrap" style="width: 150px;" href="@Url.Action("ConsultarBocetosCliente", "Boceto")">Mis bocetos</a></li>
                            </ul>
                        </div>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" data-toggle="collapse" href="#cotizacionescliente" aria-expanded="false" aria-controls="cotizacionescliente">
                            <i class="fa-regular fa-file-lines menu-icon"></i>
                            <span class="menu-title" style="margin-left: 5px;">Cotizaciones</span>
                            <i class="menu-arrow"></i>
                        </a>
                        <div class="collapse" id="cotizacionescliente">
                            <ul class="nav flex-column sub-menu">
                                <li class="nav-item"> <a class="nav-link text-wrap" style="width: 150px;" href="@Url.Action("ConsultarSolicitudCotizacionesCliente", "Cotizaciones")">Solicitudes de cotización</a></li>
                                <li class="nav-item"> <a class="nav-link text-wrap" style="width: 150px;" href="@Url.Action("ConsultarCotizacionesCliente", "Cotizaciones")">Mis cotizaciones</a></li>
                            </ul>
                        </div>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" data-toggle="collapse" href="#ordenescliente" aria-expanded="false" aria-controls="ordenescliente">
                            <i class="fa-regular fa-clipboard menu-icon"></i>
                            <span class="menu-title" style="margin-left: 5px;">Órdenes</span>
                            <i class="menu-arrow"></i>
                        </a>
                        <div class="collapse" id="ordenescliente">
                            <ul class="nav flex-column sub-menu">
                                <li class="nav-item"> <a class="nav-link" href="@Url.Action("ClienteConsultarOrdenes", "Ordenes")">Mis órdenes</a></li>
                            </ul>
                        </div>
                    </li>

                    <br />
                    <li class="nav-item">
                        <span class="menu-title" style="margin-left: 15px;"><b>Administrativo</b></span>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link" href="@Url.Action("ConsultarBocetosAdmin", "Boceto")">
                            <i class="fa-regular fa-images menu-icon"></i>
                            <span class="menu-title">Ver bocetos</span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="@Url.Action("CotizacionesAdministrador", "Cotizaciones")">
                            <i class="fa-regular fa-file-lines menu-icon"></i>
                            <span class="menu-title" style="margin-left: 5px;">Cotizaciones</span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-wrap" style="width: 180px;" href="@Url.Action("ConsultarSolicitudesCotizacionesClientes", "Cotizaciones")">
                            <i class="fa-solid fa-file-invoice menu-icon"></i>
                            <span class="menu-title" style="margin-left: 5px;">Solicitudes de cotizaciones</span>
                        </a>
                    </li>
                    <li class="nav-item">

                        <a class="nav-link" data-toggle="collapse" href="#ordenes-admin" aria-expanded="false" aria-controls="ordenes-admin">
                            <i class="fa-regular fa-clipboard menu-icon"></i>
                            <span class="menu-title" style="margin-left: 5px;">Órdenes</span>
                            <i class="menu-arrow"></i>
                        </a>
                        <div class="collapse" id="ordenes-admin">
                            <ul class="nav flex-column sub-menu">
                                <li class="nav-item"> <a class="nav-link text-wrap" style="width: 150px;" href="@(Url.Action("ConsultarOrdenesClientesAdmin", "Ordenes" ))">Órdenes</a></li>
                                <li class="nav-item"> <a class="nav-link text-wrap" style="width: 150px;" href="@(Url.Action("ConsultarOrdenesPendientesCliente", "Ordenes"))">Pendientes</a></li>
                            </ul>
                        </div>
                    </li>
                    <li class="nav-item">

                        <a class="nav-link" data-toggle="collapse" href="#ui-basic-2" aria-expanded="false" aria-controls="ui-basic-2">
                            <i class="fa-solid fa-users"></i>
                            <span class="menu-title" style="margin-left: 16px;">Usuarios</span>
                            <i class="menu-arrow"></i>
                        </a>
                        <div class="collapse" id="ui-basic-2">
                            <ul class="nav flex-column sub-menu">
                                <li class="nav-item"> <a class="nav-link text-wrap" style="width: 150px;" href="@(Url.Action("ConsultarUsuarios", "Usuario"))">Usuarios</a></li>
                                <li class="nav-item"> <a class="nav-link text-wrap" style="width: 150px;" href="/Usuario/ConsultarClientes">Clientes</a></li>
                            </ul>
                        </div>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link" href="@Url.Action("ConsultarInventario", "Inventario")">
                            <i class="fa-solid fa-table-list menu-icon"></i>
                            <span class="menu-title" style="margin-left: 2px;">Inventario</span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" data-toggle="collapse" href="#contabilidad" aria-expanded="false" aria-controls="cotizacionescliente">
                            <i class="fa-solid fa-file-invoice-dollar menu-icon"></i>
                            <span class="menu-title" style="margin-left: 5px;">Contabilidad</span>
                            <i class="menu-arrow"></i>
                        </a>
                        <div class="collapse" id="contabilidad">
                            <ul class="nav flex-column sub-menu">
                                <li class="nav-item"> <a class="nav-link text-wrap" style="width: 150px;" href="@Url.Action("ConsultarFacturasVenta", "Contabilidad")">Facturas venta</a></li>
                                <li class="nav-item"> <a class="nav-link text-wrap" style="width: 150px;" href="@Url.Action("ConsultarFacturasPendientes", "Contabilidad")">Facturas pendientes</a></li>
                                <li class="nav-item"> <a class="nav-link text-wrap" style="width: 100px;" href="@Url.Action("ConsultarComprobantesDePago", "Contabilidad")">Comprobantes de pago</a></li>
                            </ul>
                        </div>
                    </li>


                    @*<li class="nav-item">
                    <a class="nav-link" data-toggle="collapse" href="#ui-basic2" aria-expanded="false" aria-controls="ui-basic2">
                    <i class="icon-layout menu-icon"></i>
                    <span class="menu-title">NO BORRAR</span>
                    <i class="menu-arrow"></i>
                    </a>
                    <div class="collapse" id="ui-basic2">
                    <ul class="nav flex-column sub-menu">

                    <li class="nav-item"> <a class="nav-link" href="#"> 404 </a></li>
                    <li class="nav-item"> <a class="nav-link" href="#"> 500 </a></li>
                    <li class="nav-item"> <a class="nav-link" href="@Url.Action("InicioSesion", "Usuario")">Inicio de sesión</a></li>
                    <li class="nav-item"> <a class="nav-link" href="@Url.Action("Registro", "Usuario")">Registro </a></li>

                    </ul>
                    </div>
                    </li>*@

                    <li class="nav-item">
                        <a class="nav-link" data-toggle="collapse" href="#marketing" aria-expanded="false" aria-controls="marketing">
                            <i class="fa-regular fa-envelope menu-icon"></i>
                            <span class="menu-title">Marketing</span>
                            <i class="menu-arrow"></i>
                        </a>
                        <div class="collapse" id="marketing">
                            <ul class="nav flex-column sub-menu">
                                <li class="nav-item"> <a class="nav-link text-wrap" style="width: 150px;" href="@Url.Action("ConsultarGruposUsuarios", "Marketing")">Grupos de Usuarios</a></li>
                                <li class="nav-item"> <a class="nav-link text-wrap" style="width: 150px;" href="@Url.Action("ConsultarCorreos", "Marketing")">Correos Electrónicos</a></li>
                            </ul>
                        </div>
                    </li>

                </ul>
            </nav>


            <!-- Main -->
            <div class="main-panel">
                <div class="content-wrapper">
                    @RenderBody()
                </div>
                <!-- Footer -->
                <footer class="footer">
                    <div class="d-sm-flex justify-content-center justify-content-sm-between">
                        <span class="text-muted text-center text-sm-left d-block d-sm-inline-block">Big Solutions @DateTime.Now.Year</span>
                    </div>
                    <div class="d-sm-flex justify-content-center justify-content-sm-between">
                        <span class="text-muted text-center text-sm-left d-block d-sm-inline-block">Publicidad - Mercadeo - Comunicación</span>
                    </div>
                </footer>
            </div>
        </div>
    </div>
    <script>
        let timeout;

        function resetTimer() {
            clearTimeout(timeout);
            timeout = setTimeout(() => {
                showExpirationAlert();
            }, 10 * 60 * 1000);
        }

        function showExpirationAlert() {
            Swal.fire({
                title: 'Sesión Expirada',
                text: 'Tu sesión ha expirado. Serás redirigido a la página de inicio de sesión.',
                icon: 'warning',
                confirmButtonColor: '#c1952c',
                confirmButtonText: 'Aceptar',
                customClass: {
                    popup: 'my-swal-popup'
                }
            }).then(() => {
                window.location.href = '@Url.Action("Salir", "Usuario")';
            });
        }

        window.onload = resetTimer;
        document.onmousemove = resetTimer;
        document.onkeypress = resetTimer;
    </script>
    <script>
        document.addEventListener('DOMContentLoaded', function () {
            var collapseElements = document.querySelectorAll('.collapse');
            collapseElements.forEach(function (element) {
                element.classList.remove('show');
                element.setAttribute('aria-expanded', 'false');
            });
        });
    </script>
    <script src="~/page/vendors/js/vendor.bundle.base.js"></script>
    <script src="~/page/vendors/chart.js/Chart.min.js"></script>
    <script src="~/page/js/off-canvas.js"></script>
    <script src="~/page/js/hoverable-collapse.js"></script>
    <script src="~/page/js/template.js"></script>
    <script src="~/page/js/settings.js"></script>
    <script src="~/page/js/todolist.js"></script>
    <script src="~/page/js/dashboard.js"></script>
    <script src="~/page/js/Chart.roundedBarCharts.js"></script>

    <script src=" https://cdn.datatables.net/2.0.8/js/dataTables.js"></script>
    <script src="https://cdn.datatables.net/2.0.8/js/dataTables.bootstrap5.js"></script>
    <script src="~/js/jslayout.js"></script>

</body>
</html>

