@model List<BigSolutionsWeb.Entidades.Cotizacion>

@{
    ViewData["Title"] = "Mis cotizaciones";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container-fluid" style="margin-top: 50px;">
    <div class="text-center mb-4">
        <h1>Cotizaciones</h1>
        <p>Aquí puedes ver todas las cotizaciones generadas para los clientes.</p>
    </div>

    <div class="card">
        <div class="card-header d-flex justify-content-between align-items-center">
            <h3 class="mb-0">Cotizaciones</h3>
        </div>
        <div class="card-body" style="padding-left: 15px; padding-right: 15px;">
            @if (ViewBag.MsjPantalla != null)
            {
                <div id="warningAlert" class="alert alert-warning" role="alert" style="text-align: center;">
                    @ViewBag.MsjPantalla
                </div>
            }
            <table id="tabla-Bocetos" class="table table-hover">
                <thead>
                    <tr>
                        <th style="text-align:left">Número de solicitud</th>
                        <th style="text-align:left">Fecha de Generación</th>
                        <th style="text-align:left">Cliente</th>
                        <th style="text-align:left">Moneda</th>
                        <th style="text-align:left">Acciones</th>
                    </tr>
                </thead>
                <tbody>
                    @{
                        long rol = Convert.ToInt64(Context.Session.GetString("ROL"));
                    }
                    @foreach (var cotizacion in Model)
                    {
                        <tr>
                            <td style="text-align:left">@cotizacion.IdCotizacion</td>
                            <td style="text-align:left">@cotizacion.FechaCreacion.ToString("dd/MM/yyyy")</td>
                            <td style="text-align:left">@cotizacion.NombreCompleto</td>
                            <td style="text-align:left">@cotizacion.Moneda</td>
                            <td style="text-align:left">
                                @if (rol == 1)
                                {
                                <a href="@(Url.Action("ConsultarDetalleCotizacion", "Cotizaciones", new { IdCotizacion = cotizacion.IdCotizacion }))"
                                   class="botones">
                                    Ver detalles
                                </a>
                                <a href="@(Url.Action("EditarCotizacion", "Cotizaciones", new { IdCotizacion = cotizacion.IdCotizacion }))"
                                   class="botones-editar">
                                    <i class="fas fa-pencil-alt"></i> &nbsp; Editar
                                </a>
                                <a href="#"
                                   class="botones-eliminar botonEliminar"
                                   data-id="@cotizacion.IdCotizacion">
                                    <i class="fas fa-trash-alt"></i>&nbsp; Eliminar
                                </a>
                                }
                                else
                                {
                                    <a href="@(Url.Action("ConsultarDetalleCotizacion", "Cotizaciones", new { IdCotizacion = cotizacion.IdCotizacion }))"
                                       class="botones">
                                        Ver detalles
                                    </a>
                                    <div class="btn-group" role="group" aria-label="Basic example" style="opacity: 0.5; pointer-events: none;">
                                        <span class="botones-editar disabled-link">
                                            <i class="fas fa-pencil-alt"></i> Editar
                                        </span>
                                    </div>
                                    <div class="btn-group" role="group" aria-label="Basic example" style="opacity: 0.5; pointer-events: none;">
                                        <span class="botones-eliminar disabled-link">
                                            <i class="fas fa-trash-alt"></i> Eliminar
                                        </span>
                                    </div>
                                }
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>

<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script>
    $(document).ready(function () {
        // Inicializar DataTable
        var table = $('#tabla-Bocetos').DataTable({
            language: {
                url: '//cdn.datatables.net/plug-ins/1.11.5/i18n/es-ES.json'
            },
            order: [[0, 'desc']],
        });
       

        // SweetAlert para eliminar
        $('.botonEliminar').on('click', function (e) {
            e.preventDefault();
            var $this = $(this);
            var IdCotizacion = $this.data('id');

            Swal.fire({
                title: '¿Está seguro de que desea eliminar esta cotización?',
                text: "¡Esta acción no se puede deshacer!",
                icon: 'warning',
                showCancelButton: true,
                confirmButtonColor: '#c1952c',
                cancelButtonColor: '#d33',
                confirmButtonText: 'Sí, eliminar',
                cancelButtonText: 'Cancelar'
            }).then((result) => {
                if (result.isConfirmed) {
                    
                    var url = `/Cotizaciones/EliminarCotizacion?IdCotizacion=${IdCotizacion}`;

                    // Enviar solicitud GET al controlador
                    $.ajax({
                        url: url,
                        type: 'GET',
                        success: function (response) {
                            if (response.success) {
                                Swal.fire({
                                    title: '¡Eliminado!',
                                    text: response.message,
                                    icon: 'success',
                                    confirmButtonColor: '#c1952c',
                                    confirmButtonText: 'Aceptar'
                                }).then(() => {
                                    // Eliminar fila de la tabla
                                    table.row($this.closest('tr')).remove().draw();
                                });
                            } else {
                                Swal.fire({
                                    title: 'Error',
                                    text: response.message,
                                    icon: 'error',
                                    confirmButtonColor: '#d33'
                                });
                            }
                        },
                        error: function () {
                            Swal.fire({
                                title: 'Error',
                                text: 'Ocurrió un problema al intentar eliminar la cotización.',
                                icon: 'error',
                                confirmButtonColor: '#d33'
                            });
                        }
                    });
                }
            });
        });
    });
</script>
