@{
    ViewData["Title"] = "Mis solicitudes de cotizaciones";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<link href="https://cdn.jsdelivr.net/npm/sweetalert2@11/dist/sweetalert2.min.css" rel="stylesheet">
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>

<div class="container-fluid" style="margin-top: 50px;">
    <div class="text-center mb-4">
        <h1>Mis Solicitudes de Cotizaciones</h1>
        <p>Aquí puedes ver todas las solicitudes de cotizaciones que ha generado.</p>
    </div>

    <div class="card">
        <div class="card-header d-flex justify-content-between align-items-center">
            <h3 class="mb-0">Solicitudes de cotización</h3>
            <a href="@(Url.Action("CrearSolicitudCotizacionClienteConListaCliente", "Cotizaciones"))" class="botones-secundarios">Generar Solicitud de Cotización</a>
        </div>
        <div class="card-body" style="padding-left: 15px; padding-right: 15px;">
            <table id="tabla-Bocetos" class="table table-hover">
                <thead>
                    <tr>
                        <th style="text-align:left">Número de solicitud</th>
                        <th style="text-align:left">Descripción de la solicitud</th>
                        <th style="text-align:left">Fecha de Generación</th>
                        <th style="text-align:left">Estado</th>
                        <th style="text-align:left">Cliente</th>
                        <th style="text-align:left">Acciones</th>
                    </tr>
                </thead>
                <tbody>
                    @* @foreach (var boceto in Model)
                    { *@
                    <tr>
                        <td style="text-align:left">11111</td>
                        <td style="text-align:left">En esta orden se necesitan los productos antes de la fecha de 15 de agosto del 2024</td>
                        <td style="text-align:left">@DateTime.Now</td>
                        <td style="text-align:left">Pendiente</td>
                        <td style="text-align:left">Juan Pérez Barquero</td>
                        <td style="text-align:left">
                            <a href="@(Url.Action("ConsultarSolicitudCotizacionCliente", "Cotizaciones", new { id = 11113 }))" class="botones">Ver detalles de la solicitud</a>
                            <a href="@(Url.Action("EditarSolicitudCotizacionCliente", "Cotizaciones", new { id = 11113 }))" class="botones">Editar</a>
                            <a class="botones eliminar-producto" href="#" data-id="1">Eliminar</a>
                        </td>
                    </tr>
                    <tr>
                        <td style="text-align:left">11112</td>
                        <td style="text-align:left">En esta orden se necesitan los productos antes de la fecha de 20 de agosto del 2024</td>
                        <td style="text-align:left">@DateTime.Now</td>
                        <td style="text-align:left">Pendiente</td>
                        <td style="text-align:left">Juan Pérez Barquero</td>
                        <td style="text-align:left">
                            <a href="@(Url.Action("ConsultarSolicitudCotizacionCliente", "Cotizaciones", new { id = 11114 }))" class="botones">Ver detalles de la solicitud</a>
                            <a href="@(Url.Action("EditarSolicitudCotizacionCliente", "Cotizaciones", new { id = 11114 }))" class="botones">Editar</a>
                            <a class="botones eliminar-producto" href="#" data-id="2">Eliminar</a>
                        </td>
                    </tr>
                    <tr>
                        <td style="text-align:left">11113</td>
                        <td style="text-align:left">En esta orden se necesitan los productos antes de la fecha de 25 de agosto del 2024</td>
                        <td style="text-align:left">@DateTime.Now</td>
                        <td style="text-align:left">Pendiente</td>
                        <td style="text-align:left">Juan Pérez Barquero</td>
                        <td style="text-align:left">
                            <a href="@(Url.Action("ConsultarSolicitudCotizacionCliente", "Cotizaciones", new { id = 11115 }))" class="botones">Ver detalles de la solicitud</a>
                            <a href="@(Url.Action("EditarSolicitudCotizacionCliente", "Cotizaciones", new { id = 11115 }))" class="botones">Editar</a>
                            <a class="botones eliminar-producto" href="#" data-id="3">Eliminar</a>
                        </td>
                    </tr>
                    @* } *@
                </tbody>
            </table>
        </div>
    </div>
</div>

<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script src="~/lib/datatables/js/jquery.dataTables.min.js"></script>

<script>
    $(document).ready(function () {
        // Inicializar DataTable
        var table = $('#tabla-Bocetos').DataTable({
            language: {
                url: '//cdn.datatables.net/plug-ins/2.0.2/i18n/es-ES.json'
            }
        });

        // Alerta de eliminación
        $('#tabla-Bocetos').on('click', '.eliminar-producto', function (e) {
            e.preventDefault();
            var $row = $(this).closest('tr');
            var productId = $(this).data('id');
            Swal.fire({
                title: '¿Está seguro que deseas eliminar esta solicitud?',
                text: "No podrás revertir esto",
                icon: 'warning',
                showCancelButton: true,
                confirmButtonColor: '#c1952c',
                cancelButtonColor: '#d33',
                confirmButtonText: 'Sí, eliminarla',
                customClass: {
                    popup: 'my-swal-popup'
                }
            }).then((result) => {
                if (result.isConfirmed) {
                    Swal.fire({
                        title: 'Eliminada',
                        text: 'La solicitud ha sido eliminada',
                        icon: 'success',
                        confirmButtonColor: '#c1952c',
                        customClass: {
                            popup: 'my-swal-popup'
                        }
                    }).then(() => {
                        // Aquí puedes agregar la lógica para eliminar la solicitud en el servidor
                        // por ejemplo, enviando una solicitud AJAX para eliminar la solicitud.
                        $row.remove();
                    });
                }
            });
        });
    });
</script>
